body{
    color: white;
    font-family: sans-serif;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
    @media (min-width: 576px) {
      .container {
        max-width: 540px; } }
    @media (min-width: 768px) {
      .container {
        max-width: 720px; } }
    @media (min-width: 992px) {
      .container {
        max-width: 960px; } }
    @media (min-width: 1200px) {
      .container {
        max-width: 1140px; } }
 
.header-container{
    background-color: black;
    height: 500px;
    width: 100%;
}
.nav-container{
    /* background: red; */
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    width: 10%;
}
.nav-menu{
     display: flex; 
    /* background: green; */
    width: 90%;
    justify-content: space-between;
}

@media(max-width:650px){
.nav-menu{
    display: none;
    width: 60%;
}
}
@media(min-width:651px){
.hamburger{
    display: none;
} 
}
.hamburger{
    background: white;
    height: 3px;
    width: 30px; 
    position: relative;
}

.hamburger::before, .hamburger::after{
   content: ""; 
   background: white;
   position: absolute;
   width: 30px;
   height: 3px; 
   cursor: pointer;   
}
.hamburger::before{
    top:10px;
    left: 0;
    width: 100%;
}
.hamburger::after{
    bottom: 10px;
    left: 0;

}

.btn{
    padding-left: 30px;
}


/* landing page */
div.background {
    background: url(https://res.cloudinary.com/dhtxiw89g/image/upload/v1594540563/Screenshot_51.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:500px;
    border: 2px solid white;
    border-radius: 25px;
    transform: translateY(-1px);
    margin-bottom: 100px;
  }
  
  div.transbox {
    margin: 80px;
    margin-left: 60px;
    background-color: #ffffff;
    border: 1px solid white;
    opacity: 0.9;
  }
  
  div.transbox h3 {
    margin-top: 1px;
    margin-left: 6.5%;
    font-weight: bold;
    color: #000000;
    font-size: 40px;
    font-family: sans-serif;   
  }
  div.transbox h4 { 
      margin-top: -30px;
    margin-left: 6.5%;
    font-weight: bold;
    color:gray;
    font-size: 30px;
    font-family: sans-serif;
    padding-bottom: 50px;
  }
  div.transbox p { 
     margin-top: 20px;
    margin-left: 6.5%;
    font-weight: bold;
    color:black;
    font-size: 14px;
    font-family: sans-serif;
  }
  div.transbox button { 
     margin-top: 40px;
    margin-left: 6.5%;
    font-weight: bold;
    color:white;
    background: rgb(245, 76, 15);
    border-radius: 10px;
    padding-left: 70px;
    padding-Right: 70px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 15px;
    font-family: sans-serif;
    border: 1px solid white;
  }
  div.transbox img { 
    margin-top: -500px;
  margin-left: 30.5%;
 
}
@media(max-width:600px){
.transbox img{
    display: none;
    width: 10%; 
}
}
@media(max-width:768px){
.transbox img{
    display: none;
    width: 40%; 
    margin-left: 400px;
}
}
@media(max-width:992px){
.transbox img{
    
    width: 30%; 
    height: 40%;
 transform: translateX(240px);
}
}
@media(max-width:1200px){
.transbox img{    
    width: 30%; 
}
}


.box{
    /* margin-top: 10px; */
    background: whitesmoke;
    height: 850px;
    width: 100%;
   
 } 

 .box1{
    /* margin-top: 10px; */
    background: white;
    height: 2050px;
    width: 100%;
   
 } 
 .box2{
     /* margin-top: 1000px; */
    background: whitesmoke;
    height: 1100px;
    width: 100%; 
   
 } 
 .box3{
  margin-top: 280px;
 background: black;
 height: 450px;
 width: 100%; 

} 
 .box4{
  margin-top: 280px;
 background: white;
 height: 280px;
 width: 100%; 

} 
 .box5{
  margin-top: 20px;
 background: whitesmoke;
 height: 450px;
 width: 100%; 

} 
 .box6{
  margin-top: 20px;
 background: white;
 height: 450px;
 width: 100%; 

} 
/* about */
 div.background2 {
    /* background: url(https://res.cloudinary.com/dhtxiw89g/image/upload/v1594561794/Screenshot_58.png);
    background-repeat: no-repeat;
    background-size: cover; */
    background: white;
    width: 100%;
    height:300px;
    border: 2px solid white;
    border-radius: 25px;
    transform: translateY(250px);
    margin-bottom: 100px;
  }
  div.background2 h1{
    color:black;
    display: flex;
    justify-content: flex-end;
    font-size: 70px;
    margin-right: 180px;
    font-family: sans-serif;
  }
  div.transbox2 {
    margin-right: 80px;
    margin-top: -130px;
    margin-left: 60px;
    margin-bottom: -200px;
    background-color: #ffffff;
    border: 1px solid white;
    opacity: 0.9;
    height: 200px;
  }
  
  div.transbox2 img{
      width: 300px;
      height:180px;
      margin-left: 15px;
      transform: translateY(-380px);
  }
  div.transbox2 h3{
    font-weight: bold;
    font-size: 20px;
    margin-top: 26px;
    font-family: sans-serif;
    color: black;
  margin-left: 780px;
  margin-bottom: 40px;
  }

  div.transbox2 p{
    margin-top: 15px;
    margin-left: 5%;
    font-weight: bold;
    color:black;
    font-size: 14px;
    font-family: sans-serif;
  }
  div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594577018/facebook-square-brands-1.png"]{
    width: 25px;
    height:20px;
    margin-left: 605px; 
    transform: translateY(-370px);
    padding-bottom: 5px;
}
  div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594577062/twitter-brands-1.png" ]{
    width: 25px;
    height:20px;
    margin-left: 925px; 
    transform: translateY(-370px);
    padding-bottom: 5px;
}
  div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594578667/instagram-brands_-1.png" ]{
    width: 25px;
    height:20px;
    margin-left: 925px; 
    transform: translateY(-370px);
  }
@media(max-width:600px){
  div.transbox2 img{
      /* display: none; */
      width: 150px;
      height: 100px;
    transform: translateY(-300px);
  }
  div.transbox2 h3{
    margin-top: 5px;    
    margin-left: 20px;
    margin-bottom:5px ;
    }
    div.transbox2 p{
      font-size: 10px;
    }
    div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594577018/facebook-square-brands-1.png"]{
      transform: translateY(-70px);
      margin-left: -120px;
    }
    div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594577062/twitter-brands-1.png" ]{
      transform: translateY(-70px);
      margin-left: 65px;
    }
    div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594578667/instagram-brands_-1.png" ]{
      transform: translateY(-75px);
      margin-left: 80px;
    }
}
@media(min-width:600px){
  div.transbox2 img{
      /* display: none; */
      width: 150px;
      height: 100px;
    transform: translateY(-300px);
  }
  div.transbox2 h3{
    margin-top: 5px;    
    margin-left: 20px;
    margin-bottom:5px ;
    }
    div.transbox2 p{
      font-size: 10px;
    }
    div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594577018/facebook-square-brands-1.png"]{
      transform: translateY(-70px);
      margin-left: -120px;
    }
    div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594577062/twitter-brands-1.png" ]{
      transform: translateY(-70px);
      margin-left: 65px;
    }
    div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594578667/instagram-brands_-1.png" ]{
      transform: translateY(-75px);
      margin-left: 80px;
    }
}

  @media(min-width:768px){
    div.transbox2 img{
      /* display: none; */
      width: 150px;
      height: 100px;
    transform: translateY(-300px);
  }
  div.transbox2 h3{
    margin-top: 5px;    
    margin-left: 20px;
    margin-bottom:5px ;
    }
    div.transbox2 p{
      font-size: 10px;
    }
    div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594577018/facebook-square-brands-1.png"]{
      transform: translateY(-70px);
      margin-left: -120px;
    }
    div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594577062/twitter-brands-1.png" ]{
      transform: translateY(-70px);
      margin-left: 65px;
    }
    div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594578667/instagram-brands_-1.png" ]{
      transform: translateY(-75px);
      margin-left: 80px;
    }
  }
  @media(min-width:992px){
    div.transbox2 img{
      /* display: none; */
      width: 150px;
      height: 100px;
    transform: translateY(-300px);
  }
  div.transbox2 h3{
    margin-top: 5px;    
    margin-left: 20px;
    margin-bottom:5px ;
    }
    div.transbox2 p{
      font-size: 10px;
    }
    div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594577018/facebook-square-brands-1.png"]{
      transform: translateY(-70px);
      margin-left: -120px;
    }
    div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594577062/twitter-brands-1.png" ]{
      transform: translateY(-70px);
      margin-left: 65px;
    }
    div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594578667/instagram-brands_-1.png" ]{
      transform: translateY(-75px);
      margin-left: 80px;
    }
  }
  
  @media(min-width:992px){
    div.transbox2 img{
      /* display: none; */
      width: 150px;
      height: 110px;
    transform: translateY(-280px);
  }
  div.transbox2 h3{
    margin-top: 7px;    
    margin-left: 635px;
    margin-bottom:5px ;
    }
    div.transbox2 p{
      font-size: 11px;
    }
    div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594577018/facebook-square-brands-1.png"]{
      transform: translateY(-230px);
      margin-left: 620px;
    }
    div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594577062/twitter-brands-1.png" ]{
      transform: translateY(-230px);
      margin-left: 790px;
    }
    div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594578667/instagram-brands_-1.png" ]{
      transform: translateY(-230px);
      margin-left: 790px;
    }
  }
  
  @media(min-width:1201px){
    div.transbox2 img{
      /* display: none; */
      width: 300px;
      height: 180px;
      margin-left: 15px;
    transform: translateY(-380px);
  }
  div.transbox2 h3{
    font-weight: bold;
    font-size: 20px;
    margin-top: 26px;
    font-family: sans-serif;
    color: black;
  margin-left: 780px;
  margin-bottom: 40px;
    }
    div.transbox2 p{
      margin-top: 15px;
      margin-left: 5%;
      font-weight: bold;
      color:black;
      font-size: 14px;
      font-family: sans-serif;
    }
    div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594577018/facebook-square-brands-1.png"]{
      width: 25px;
      height:20px;
      margin-left: 605px; 
      transform: translateY(-370px);
      padding-bottom: 5px;
    }
    div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594577062/twitter-brands-1.png" ]{
      width: 25px;
      height:20px;
      margin-left: 925px; 
      transform: translateY(-370px);
      padding-bottom: 5px;
    }
    div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594578667/instagram-brands_-1.png" ]{
      width: 25px;
    height:20px;
    margin-left: 925px; 
    transform: translateY(-370px);
    }
  }
  



/* experience */
div.background3 {
    background: white;
    width: 100%;
    height:400px;
    border: 2px solid white;
    border-radius: 25px;
    transform: translateY(250px);
    margin-bottom: 100px;
  } 
  div.background3 h1{
    color:black;
    display: flex;
    justify-content: center;
    font-size: 80px;
  }
  div.transbox3 {
    margin-right: 80px;
    margin-top: -150px;
    margin-left: 60px;
    margin-bottom: -200px;
    background-color: #ffffff;
    border: 1px solid white;
    opacity: 0.9;
    height: 200px;
  }

  div.transbox3 h3{
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    font-family: sans-serif;
    color: black;
  margin-left: 430px;
  margin-bottom: 40px;
  }

  div.transbox3 table{
    width: 70%;
    border-collapse: separate;
    border-spacing: 0;
    margin-left: 140px;
    margin-bottom: 45px;
  }

  div.transbox3 th,td{
      text-align: center;
      border: 0.1px solid white;
      padding: 7px;
  }
 div.transbox3 th:first-of-type {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: black;
    
  }
 div.transbox3 th:nth-of-type(even) {
    color: black;
    padding-left: -2px;
  }
  div.transbox3 th:last-of-type {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:black;
    color: white;
   
  }
 div.transbox3 td:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
  }
 div.transbox3 td:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
  }

  div.transbox3 p{
      color: black;
      font-size: 12px;
      font-weight: bold;
     transform: translateX(375px);
  }
  div.transbox3 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1595157415/Screenshot_2020-07-19_at_12.08.43.png"]{
      width: 200px;
      height: 180px;
      transform: translateY(-160px);
      margin-left: 100px;
  }
  div.transbox3 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594626605/asset-2.png"]{
      width: 8px;
      height: 8px;
      transform: translateY(-160px);
  }
  div.transbox3 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594626638/Path_501.png"]{
      width: 20px;
      height: 20px;
      transform: translateY(-160px);
      margin-left: -200px;
  }
  div.transbox3 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594628012/asset-2_2x.png"]{
      width: 8px;
      height: 8px;
      transform: translateY(-260px);
      margin-left: 30px;
  }
  div.transbox3 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594628722/Path_501_2x.png"]{
      width: 20px;
      height: 20px;
      position: absolute;
      transform: rotate(90deg);
      transform-origin: 280% -380% 0;
      margin-left: 100px;
  }
  @media(max-width:600px){
   
    div.transbox3 h3{
      margin-left: 130px;
      font-size: 14px;
      margin-top: 35px;
    }
    div.background3{
      background: white;
    }
    div.transbox3{
      margin-top: -100px;
      margin-right: 10px;
    }
    div.transbox3 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1595157415/Screenshot_2020-07-19_at_12.08.43.png"]{
      width: 80px;
      height: 80px;
      transform: translateY(-120px);
      margin-left: -25px;
  }
  div.background3 h1{
    font-size: 40px;
  }
    div.transbox3 p{
      /* display: flex;
      justify-content: flex-end; */
      transform: translateX(80px);
      font-size: 7px;
      line-height: 15px;
    }
    div.transbox3 table{
      margin-left: 1px;
      width: 100%
    }
    div.transbox3 th,td{
      text-align: center;
      border: 0.1px solid white;
      padding: 7px;
      font-size: 10px;
  }

  }
  
  @media(min-width:600px){
    div.transbox3 h3{
      margin-left: 100px;
      font-size: 14px;
      margin-left: 150px;
      margin-top: 35px;
    }
    div.background3{
      background: white;
    }
    div.transbox3{
      margin-top: -100px;
      margin-right: 10px;
    }
    div.transbox3 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1595157415/Screenshot_2020-07-19_at_12.08.43.png"]{
      width: 120px;
      height: 120px;
      transform: translateY(-120px);
      margin-left: -25px;
  }
  div.background3 h1{
    font-size: 40px;
  }
    div.transbox3 p{
      /* display: flex;
      justify-content: flex-end; */
      transform: translateX(120px);
      font-size: 8px;
      line-height: 15px;
    }
    div.transbox3 table{
      margin-left: 1px;
      width: 100%
    }
    div.transbox3 th,td{
      text-align: center;
      border: 0.1px solid white;
      padding: 7px;
      font-size: 10px;
  }
  }
  @media(min-width:768px){
    div.transbox3 h3{
      margin-left: 240px;
      font-size: 14px;
      margin-top: 40px;
    }
    div.background3{
      background: white;
    }
    div.transbox3{
      margin-top: -100px;
      margin-right: 10px;
    }
    div.transbox3 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1595157415/Screenshot_2020-07-19_at_12.08.43.png"]{
      width: 150px;
      height: 150px;
      transform: translateY(-180px);
      margin-left: -25px;
  }
  div.background3 h1{
    font-size: 40px;
  }
    div.transbox3 p{
      transform: translateX(140px);
      font-size: 12px;
      line-height: 15px;
    }
    div.transbox3 table{
      margin-left: 1px;
      width: 100%
    }
    div.transbox3 th,td{
      text-align: center;
      border: 0.1px solid white;
      padding: 7px;
      font-size: 10px;
  }
  }
  @media(min-width:992px){
 
    div.transbox3 h3{
      margin-left: 350px;
      font-size: 18px;
      margin-top: 50px;
    }
    div.background3{
      background: white;
    }
    div.transbox3{
      margin-top: -140px;
      margin-right: 10px;
    }
    div.transbox3 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1595157415/Screenshot_2020-07-19_at_12.08.43.png"]{
      width: 180px;
      height: 180px;
      transform: translateY(-180px);
      margin-left: 20px;
  }
  div.background3 h1{
    font-size: 60px;
  }
    div.transbox3 p{
      /* display: flex;
      justify-content: flex-end; */
      transform: translateX(300px);
      font-size: 12px;
    
    }
    div.transbox3 table{
      margin-left: 50px;
      width: 80%
    }
    div.transbox3 th,td{
      text-align: center;
      border: 0.1px solid white;
      padding: 7px;
      font-size: 14px;
  }
  }
 
  @media(min-width:1200px){
    div.background3 {
      background: white;
      width: 100%;
      height:400px;
      border: 2px solid white;
      border-radius: 25px;
      transform: translateY(250px);
      margin-bottom: 100px;
    } 
    div.background3 h1{
      color:black;
      display: flex;
      justify-content: center;
      font-size: 80px;
    }
    div.transbox3 {
      margin-right: 80px;
      margin-top: -150px;
      margin-left: 60px;
      margin-bottom: -200px;
      background-color: #ffffff;
      border: 1px solid white;
      opacity: 0.9;
      height: 200px;
    }
  
    div.transbox3 h3{
      font-weight: bold;
      font-size: 20px;
      margin-top: 30px;
      font-family: sans-serif;
      color: black;
    margin-left: 430px;
    margin-bottom: 40px;
    }
  
    div.transbox3 table{
      width: 70%;
      border-collapse: separate;
      border-spacing: 0;
      margin-left: 140px;
      margin-bottom: 45px;
    }
  
    div.transbox3 th,td{
        text-align: center;
        border: 0.1px solid white;
        padding: 7px;
    }
   div.transbox3 th:first-of-type {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      color: black;
      
    }
   div.transbox3 th:nth-of-type(even) {
      color: black;
      padding-left: -2px;
    }
    div.transbox3 th:last-of-type {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color:black;
      color: white;
     
    }
   div.transbox3 td:last-of-type td:first-of-type {
      border-bottom-left-radius: 10px;
    }
   div.transbox3 td:last-of-type td:last-of-type {
      border-bottom-right-radius: 10px;
    }
  
    div.transbox3 p{
        color: black;
        font-size: 13px;
        font-weight: bold;
       transform: translateX(375px);
    }
    div.transbox3 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1595157415/Screenshot_2020-07-19_at_12.08.43.png"]{
        width: 200px;
        height: 180px;
        transform: translateY(-160px);
        margin-left: 100px;
    }
  
  }
  

/* session*/
  div.background4 {
    background: white;
    width: 100%;
    height:400px;
    border: 2px solid white;
    border-radius: 25px;
    transform: translateY(250px);
    margin-bottom: 100px;
  }
  div.background4 h1{
    color:black;
    display: flex;
    justify-content: center;
    font-size: 80px;
  }
  
  div.transbox4 {
    margin-right: 80px;
    margin-top: -150px;
    margin-left: 60px;
    margin-bottom: -200px;
    background-color: #ffffff;
    border: 1px solid white;
    opacity: 0.9;
    height: 600px;
  }

  div.transbox4 h3{
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    font-family: sans-serif;
    color: black;
  margin-left: 430px;
  margin-bottom: 40px;
  }
  div .blackline{
border-left: 1px solid black;
  }
  div.thickline{
    text-align: left;
    border-left: 5px solid black;
    
    transform: translateX(-3px);
  }

  div.transbox4 table{
    width: 100%;
    border-collapse: separate;
    color: black;
    border-spacing: 0.1px;
    margin-left: 20px;
  
  }
  div.transbox4 th{
    text-align: left;
    border: 0.1px whitesmoke;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    background: whitesmoke;


}

div.transbox4 img{
  float: left;
  margin-right: 8px;
}

div.transbox4 th:first-of-type {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: black;
  padding-right: 10px;
  width: 25%;
  
}
div.transbox4 th:nth-child(2) {
  /* border-top-left-radius: 10px; */
  /* border-bottom-left-radius: 10px; */
  color: black;
  padding-right: 10px;
  width: 25%;
  
}
div.transbox4 th:nth-child(3) {
  /* border-top-left-radius: 10px; */
  /* border-bottom-left-radius: 10px; */
  color: black;
  padding-right: 10px;
  width: 25%;
  
}

div.transbox4 th:last-of-type {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: black;
  width: 25%;
  
}
/* div.transbox4 p{
  font-size: 10px;
  font-weight: bold;
} */
div.transbox4 #table2 p{
font-size: 10px;
font-weight: bold;
text-align: left;
font-family: sans-serif;

}
div.transbox4 #table2 th{
font-size: 10px;
font-weight: bold;

}
div.transbox4 #table2 img{
  float: left;
  margin-right: 180px;
}
div.transbox4 #table3 img{
  float: left;
  margin-right: 0;
  }

  div.transbox4 #table3 p{
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    font-family: sans-serif;
  transform: translateX(110px);
    
    }
    @media(max-width:600px){
      div.background4 h1{
        font-size: 40px;
        margin-top: -30px;
      }
      div.transbox4{
        margin-left: 10px;
        margin-top: -100px;
      }
      div.transbox4 h3{ 
        margin-top: 35px;
        margin-left: 210px;
      }
      div.transbox4 th{
        font-size: 8px;
      }
      div.transbox4 #table2 img{
        width: 40px;
        height: 40px;
        margin-right: 50px;
      }
      div.transbox4  #table3 img{
        width: 40px;
        height: 40px;
        margin-right: 5px;
      }
      div.transbox4  #table4 img{
        width: 40px;
        height: 40px;
        margin-right: 2px;
      }
      div.transbox4 #table2 p{
        font-size: 6px;
        
      }
      div.transbox4 #table3 p{
        font-size: 6px;
        transform: translateX(2px);
      }
      div.transbox4 #table4 p{
        font-size: 6px;
      
      }
    }
    @media(min-width:600px){
      div.background4 h1{
        font-size: 40px;
        margin-top: -30px;
      }
      div.transbox4{
        margin-left: 10px;
        margin-top: -100px;
      }
      div.transbox4 h3{ 
        margin-top: 35px;
        margin-left: 210px;
      }
      div.transbox4 th{
        font-size: 8px;
      }
      div.transbox4 #table2 img{
        width: 40px;
        height: 40px;
        margin-right: 50px;
      }
      div.transbox4  #table3 img{
        width: 40px;
        height: 40px;
        margin-right: 5px;
      }
      div.transbox4  #table4 img{
        width: 40px;
        height: 40px;
        margin-right: 2px;
      }
      div.transbox4 #table2 p{
        font-size: 6px;
        
      }
      div.transbox4 #table3 p{
        font-size: 6px;
        transform: translateX(2px);
      }
      div.transbox4 #table4 p{
        font-size: 6px;
      
      }
    }
    @media(min-width:768px){
      div.background4 h1{
        font-size: 50px;
        margin-top: -30px;
      }
      div.transbox4{
        margin-left: 10px;
        margin-top: -100px;
      }
      div.transbox4 h3{ 
        margin-top: 20px;
        margin-left: 300px;
      }
      div.transbox4 th{
        font-size: 12px;
      }
      div.transbox4 #table2 img{
        width: 60px;
        height: 60px;
        margin-right: 80px;
      }
      div.transbox4  #table3 img{
        width: 60px;
        height: 60px;
        margin-right: 5px;
      }
      div.transbox4  #table4 img{
        width: 60px;
        height: 60px;
        margin-right: 2px;
      }
      div.transbox4 #table2 p{
        font-size: 8px;
        
      }
      div.transbox4 #table3 p{
        font-size: 8px;
        transform: translateX(10px);
      }
      div.transbox4 #table4 p{
        font-size: 8px;
      
      }
    }
    @media(min-width:992px){
      div.background4 h1{
        font-size: 50px;
        margin-top: 20px;
      }
      div.transbox4{
        margin-left: 10px;
        margin-top: -100px;
      }
      div.transbox4 h3{ 
        margin-top: 20px;
        margin-left: 430px;
      }
      div.transbox4 th{
        font-size: 14px;
      }
      div.transbox4 #table2 img{
        width: 70px;
        height: 70px;
        margin-right: 150px;
      }
      div.transbox4  #table3 img{
        width: 70px;
        height: 70px;
        margin-right: 10px;
      }
      div.transbox4  #table4 img{
        width: 70x;
        height: 70px;
        margin-right: 2px;
      }
      div.transbox4 #table2 p{
        font-size: 10px;
        
      }
      div.transbox4 #table3 p{
        font-size: 10px;
        transform: translateX(60px);
      }
      div.transbox4 #table4 p{
        font-size: 10px;
      
      }
    }
    @media(min-width:1200px){
      div.background4 h1{
        font-size: 80px;
    
      }
      div.transbox4{
        margin-left: 60px;
        margin-top: -150px;
      }
      div.transbox4 h3{ 
        margin-top: 30px;
        margin-left: 430px;
      }
      div.transbox4 th{
        font-size: 16px;
      }
      div.transbox4 #table2 img{
        
        margin-right: 180px;
      }
      div.transbox4  #table3 img{
        
        margin-right: 10px;
      }
      div.transbox4  #table4 img{
        
        margin-right: 0px;
      }
      div.transbox4 #table2 p{
        font-size: 10px;
        
      }
      div.transbox4 #table3 p{
        font-size: 10px;
        transform: translateX(90px);
      }
      div.transbox4 #table4 p{
        font-size: 10px;
      
      }
    }
    
    


    /* masters */
    div.background5 {
      /* background: url(https://res.cloudinary.com/dhtxiw89g/image/upload/v1594679433/Screenshot_73.png);
      background-repeat: no-repeat;
      background-size: cover; */
      background: white;
      width: 100%;
      height:550px;
      border: 2px solid white;
      border-radius: 25px;
      transform: translateY(1220px);
      margin-bottom: 100px;
    }
    div.background5 h1{
      color:black;
      display: flex;
      justify-content: center;
      font-size: 80px;
    }
    div.transbox5 {
      margin-right: 80px;
      margin-top: -160px;
      margin-left: 60px;
      margin-bottom: -200px;
      background-color: #ffffff;
      border: 1px solid white;
      opacity: 0.9;
      height: 200px;
    }
    div.transbox5 h3{
      font-weight: bold;
      font-size: 20px;
      margin-top: 40px;
      font-family: sans-serif;
      color: black;
    margin-left: 470px;
    margin-bottom: 40px;
    }

    div.transbox5 table #table4{
      width: 70%;
      border-collapse: separate;
      border-spacing: 0;
      margin-left: 140px;
      margin-bottom: 45px;
      
    }

    div.transbox5 #table4 img{
      float: left;
       margin-right: 80px; 
       margin-bottom: 20px;
     } 
     div.transbox5 td{
      text-align: left;
      border: 1px solid white;
      padding: 7px;
      color: black;
      font-size: 11px;
      font-weight: bold;
      font-family: sans-serif;
  } 
  @media(max-width:600px){
    div.background5 h1{
      font-size: 40px;
      margin-top: -10px;
    }
    div.transbox5 {
      margin-top: -100px;    
    }
    div.transbox5 h3{
      margin-left:180px;
      font-size: 14px;
    }
    div.transbox5 #table4 img{
      width: 70px;
      height: 70px;
      margin-right: 20px;
    }
    div.transbox5 td{
      font-size: 7px;
    }
  }
  @media(min-width:600px){
    div.background5 h1{
      font-size: 40px;
      margin-top: -10px;
    }
    div.transbox5 {
      margin-top: -100px;    
    }
    div.transbox5 h3{
      margin-left:180px;
      font-size: 14px;
    }
    div.transbox5 #table4 img{
      width: 70px;
      height: 70px;
      margin-right: 20px;
    }
    div.transbox5 td{
      font-size: 7px;
    }
  }
  @media(min-width:768px){
    div.background5 h1{
      font-size: 60px;
      margin-top: -10px;
    }
    div.transbox5 {
      margin-top: -130px;    
    }
    div.transbox5 h3{

      margin-left:250px;
      font-size: 16px;
    }
    div.transbox5 #table4 img{
      width: 100px;
      height: 100px;
      margin-right: 20px;
    }
    div.transbox5 td{
      font-size: 8px;
    }
  }
  @media(min-width:992px){
    div.background5 h1{
      font-size: 80px;
      margin-top: -10px;
    }
    div.transbox5 {
      margin-top: -160px;    
    }
    div.transbox5 h3{

      margin-left:370px;
      font-size: 18px;
    }
    div.transbox5 #table4 img{
      width: 100px;
      height: 100px;
      margin-right: 50px;
    }
    div.transbox5 td{
      font-size: 10px;
    }
  }
  @media(min-width:1200px){
    div.background5 h1{
      font-size: 80px;
    }
    div.transbox5 {
      margin-top: -160px;    
    }
    div.transbox5 h3{

      margin-left:470px;
      font-size: 20px;
    }
    div.transbox5 #table4 img{
      width: 100px;
      height: 100px;
      margin-right: 50px;
    }
    div.transbox5 td{
      font-size: 11x;
    }
  }

  /* faq */
  div.background6 {
    /* background: url(https://res.cloudinary.com/dhtxiw89g/image/upload/v1594710747/Screenshot_79.png);
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    height:450px;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    transform: translateY(270px);
    margin-bottom: 100px;
  }
  div.background6 h1{
    color:black;
    display: flex;
    justify-content: center;
    font-size: 80px;
  }
  div.transbox6 {
    margin-right: 80px;
    margin-top: -150px;
    margin-left: 60px;
    margin-bottom: -200px;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    opacity: 0.9;
    height: 400px;
  }

  div.transbox6 h3{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    font-family: sans-serif;
    color: black;
  margin-bottom: 40px;
  }

  div.transbox6 table {
  
    width: 75%;
    border-collapse: separate;
    border-spacing: 0;
    margin-left: 140px;
    padding-bottom: 15px;
   border-radius: 15px;
  }

  div.transbox6 #table5 td{
    text-align: left;
    padding: 4px;
    padding-left: 15px;
    padding-bottom: 12px;
    background: white;
    border: 2px solid white;
   color: black;
   border-radius: 15px;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
}
div.transbox6 img{
  vertical-align: right;
  transform: translateX(400px);
}
@media(max-width:600px){
div.transbox6 table{
  width: 100%;
  margin-left: 2px;
  
}
div.transbox6 #table5 td{
  font-size: 8px;
}
div.transbox6 img{
  transform: translateX(150px);
}
}
@media(min-width:600px){
div.transbox6 table{
  width: 100%;
  margin-left: 2px;
  
}
div.transbox6 #table5 td{
  font-size: 8px;
}
div.transbox6 img{
  transform: translateX(150px);
}
}
@media(min-width:768px){
div.transbox6 table{
  width: 75%;
}
div.transbox6 #table5 td{
  font-size: 12px;
  padding-right: 100px;
}
div.transbox6 img{
  transform: translateX(100px);
}
}
@media(min-width:992px){
div.transbox6 table{
  width: 75%;
  margin-left: 70px;
}
div.transbox6 #table5 td{
  font-size: 12px;
  padding-right: 100px;
  margin-left: 50px;
}
div.transbox6 img{
  transform: translateX(250px);
}
}
@media(min-width:1200px){
div.transbox6 table{
  width: 75%;
  margin-left: 140px;
}
div.transbox6 #table5 td{
  font-size: 12px;
  padding-right: 100px;
}
div.transbox6 img{
  transform: translateX(400px);
}
}

/* course fee*/
div.background7 {
  /* background: url(https://res.cloudinary.com/dhtxiw89g/image/upload/v1594712966/Screenshot_83.png);
  background-repeat: no-repeat;
  background-size: cover; */
  background: white;
  width: 100%;
  height:450px;
  border: 2px solid white;
  border-radius: 25px;
  transform: translateY(270px);
  margin-bottom: 100px;
}
div.background7 h1{
  color:black;
  display: flex;
  justify-content: center;
  font-size: 80px;
}
div.transbox7 {
  margin-right: 80px;
  margin-top: -150px;
  margin-left: 60px;
  margin-bottom: -200px;
  background-color: white;
  border: 1px solid white;
  opacity: 0.9;
  height: 400px;
}
div.transbox7 h3{
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
  font-family: sans-serif;
  color: black;
margin-left: 435px;
margin-bottom: 40px;
}
div.transbox7 h4{
  font-weight: bold;
  font-size: 15px;
  margin-top: 70px;
  font-family: sans-serif;
  color: black;
margin-left: 45px;
margin-bottom: 20px;
}
div.transbox7 ul {
  list-style-image: url('https://res.cloudinary.com/dhtxiw89g/image/upload/v1594714295/Screenshot_85.png' );
  color: black;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 50px; 
}
div.transbox8{
  margin-right: 20px;
  margin-top: 15px;
  margin-left: 760px;
  margin-bottom: -200px;
  transform: translateY(-240px);
  background-color: black;
  border: 1px solid black;
  /* opacity: 0.9; */
  height: 200px;
  width: 250px;
  border-radius: 15px;
}

div.transbox8 h4{
  color: white;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 55px;
}
div.transbox8 h5{
color: white;
text-decoration: line-through;
font-size: 12px;
margin-left: 70px;
margin-top: 50px;
line-height: 5px;

}
div.transbox8 p{
  color: white;
  font-size: 10px;
  margin-left: 30px;
}
div.transbox8 button{
  background: rgb(245, 76, 15);
  margin-left: 65px;
  padding-left: 35px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 35px;
  border-radius: 10px;
  border: 1px solid rgb(245, 76, 15);
  color: white;
}


@media(max-width:600px){
div.background7 h1{
font-size: 40px;
}
div.transbox7{
  margin-top: -90px;
}
div.transbox7 h3{
  font-size: 16px;
  margin-left: 160px;
  margin-bottom: 20px;
}
div.transbox7 h4{
  font-size: 12px;
  margin-top: 30px;
}
div.transbox7 ul{
  font-size: 6px;
  transform: translateX(-50px);
}
div.transbox8{
  margin-left: 260px;
  transform: translateY(-210px);
  width: 200px;
  height: 170px;
}
div.transbox8 h4{
  margin-top: 20px;
  margin-left:50px;
}
div.transbox8 h5{
  margin-top: 40px;
  margin-left:60px;
  font-size: 10px;
}
div.transbox8 p{
  font-size: 8px;
}
div.transbox8 button{
  margin-left: 40px;
}
}
@media(min-width:600px){
div.background7 h1{
font-size: 40px;
}
div.transbox7{
  margin-top: -90px;
}
div.transbox7 h3{
  font-size: 16px;
  margin-left: 160px;
  margin-bottom: 20px;
}
div.transbox7 h4{
  font-size: 12px;
  margin-top: 30px;
}
div.transbox7 ul{
  font-size: 6px;
  transform: translateX(-50px);
}
div.transbox8{
  margin-left: 260px;
  transform: translateY(-210px);
  width: 200px;
  height: 170px;
}
div.transbox8 h4{
  margin-top: 20px;
  margin-left:50px;
}
div.transbox8 h5{
  margin-top: 40px;
  margin-left:60px;
  font-size: 10px;
}
div.transbox8 p{
  font-size: 8px;
}
div.transbox8 button{
  margin-left: 40px;
}
}
@media(min-width:768px){
div.background7 h1{
font-size: 50px;
}
div.transbox7{
  margin-top: -105px;
}
div.transbox7 h3{
  font-size: 18px;
  margin-left: 240px;
  margin-bottom: 20px;
}
div.transbox7 h4{
  font-size: 14px;
  margin-top: 50px;
}
div.transbox7 ul{
  font-size: 10px;
  transform: translateX(-50px);
}
div.transbox8{
  margin-left: 430px;
  transform: translateY(-210px);
  width: 220px;
  height: 190px;
}
div.transbox8 h4{
  margin-top: 20px;
  margin-left:50px;
}
div.transbox8 h5{
  margin-top: 40px;
  margin-left:60px;
  font-size: 10px;
}
div.transbox8 p{
  font-size: 8px;
}
div.transbox8 button{
  margin-left: 40px;
}
}
@media(min-width:992px){
div.background7 h1{
font-size: 70px;
}
div.transbox7{
  margin-top: -135px;
}
div.transbox7 h3{
  font-size: 18px;
  margin-left: 340px;
  margin-bottom: 20px;
}
div.transbox7 h4{
  font-size: 15px;
  margin-top: 50px;
}
div.transbox7 ul{
  font-size: 12px;
}
div.transbox8{
  margin-left: 570px;
  transform: translateY(-210px);
  width: 220px;
  height: 190px;
}
div.transbox8 h4{
  margin-top: 20px;
  margin-left:50px;
}
div.transbox8 h5{
  margin-top: 40px;
  margin-left:60px;
  font-size: 10px;
}
div.transbox8 p{
  font-size: 8px;
}
div.transbox8 button{
  margin-left: 40px;
}
}
@media(min-width:1200px){
  div.background7 {
    /* background: url(https://res.cloudinary.com/dhtxiw89g/image/upload/v1594712966/Screenshot_83.png);
    background-repeat: no-repeat;
    background-size: cover; */
    background: white;
    width: 100%;
    height:450px;
    border: 2px solid white;
    border-radius: 25px;
    transform: translateY(270px);
    margin-bottom: 100px;
  }
  div.background7 h1{
    color:black;
    display: flex;
    justify-content: center;
    font-size: 80px;
  }
  div.transbox7 {
    margin-right: 80px;
    margin-top: -150px;
    margin-left: 60px;
    margin-bottom: -200px;
    background-color: white;
    border: 1px solid white;
    opacity: 0.9;
    height: 400px;
  }
  div.transbox7 h3{
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    font-family: sans-serif;
    color: black;
  margin-left: 435px;
  margin-bottom: 40px;
  }
  div.transbox7 h4{
    font-weight: bold;
    font-size: 15px;
    margin-top: 70px;
    font-family: sans-serif;
    color: black;
  margin-left: 45px;
  margin-bottom: 20px;
  }
  div.transbox7 ul {
    list-style-image: url('https://res.cloudinary.com/dhtxiw89g/image/upload/v1594714295/Screenshot_85.png' );
    color: black;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 50px; 
  }
  div.transbox8{
    margin-right: 20px;
    margin-top: 15px;
    margin-left: 760px;
    margin-bottom: -200px;
    transform: translateY(-240px);
    background-color: black;
    border: 1px solid black;
    /* opacity: 0.9; */
    height: 200px;
    width: 250px;
    border-radius: 15px;
  }
  
  div.transbox8 h4{
    color: white;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 55px;
  }
  div.transbox8 h5{
  color: white;
  text-decoration: line-through;
  font-size: 12px;
  margin-left: 70px;
  margin-top: 50px;
  line-height: 5px;
  
  }
  div.transbox8 p{
    color: white;
    font-size: 10px;
    margin-left: 30px;
  }
  div.transbox8 button{
    background: rgb(245, 76, 15);
    margin-left: 65px;
    padding-left: 35px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 35px;
    border-radius: 10px;
    border: 1px solid rgb(245, 76, 15);
    color: white;
  }
  
}

/* request */
div.background9 {
  background: url(https://res.cloudinary.com/dhtxiw89g/image/upload/v1594732230/Screenshot_89.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:430px;
  border: 2px solid black;
  border-radius: 25px;
  transform: translateY(10px);
  margin-bottom: 100px;
}
div.transbox9 {
  margin-right: 80px;
  margin-top: 20px;
  margin-left: 60px;
  margin-bottom: -200px;
  background-color: black;
  border: 1px solid black;
  opacity: 0.7;
  height: 400px;
}
div.transbox9 h3{
  font-weight: bold;
  font-size: 20px;
  margin-top: 80px;
  font-family: sans-serif;
  color: white;
margin-left: 60px;
margin-bottom: 40px;
}
div.transbox9 p{
  font-weight: bold;
  font-size: 12px;
  font-family: sans-serif;
  color: white;
margin-left: 60px;
}
div.transbox9 #email{
  margin-left: 60px;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 100px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid grey;
  background: gray;
  margin-top: 15px;
  margin-bottom: 15px;
}
div.transbox9 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594753488/Screenshot_90.png"]{
  transform: translateY(-250px);
  margin-left: 770px;
}
 @media(max-width:600px){
  div.background9{
    background: black;
  }
  div.transbox9{
    margin-right: 0px;
  }
  div.transbox9 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594753488/Screenshot_90.png"]{
    display: none;
  }
  
}

@media(min-width:600px){
  
  div.transbox9 p{
    margin-left: 40px;
  }
  div.transbox9 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594753488/Screenshot_90.png"]{
    margin-left: 350px;
    transform: translateY(-280px);
  }
  
} 
 @media(min-width:768px){
  div.transbox9{
    margin-right: 10px;
  }

  div.transbox9 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594753488/Screenshot_90.png"]{
    margin-left: 475px;
    transform: translateY(-270px);
  } 
  
} 

@media(min-width:992px){
  
  div.transbox9 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594753488/Screenshot_90.png"]{
    transform: translateY(-250px);
    margin-left: 630px;
  }
  
}

 @media(min-width:1200px){
  
  div.transbox9 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594753488/Screenshot_90.png"]{
    transform: translateY(-250px);
    margin-left: 770px;
  }
  
}  

/* projects*/
div.background10 {
  /* background: url(https://res.cloudinary.com/dhtxiw89g/image/upload/v1594755041/Screenshot_92.png);
  background-repeat: no-repeat;
  background-size: cover; */
  background: white;
  width: 100%;
  height:450px;
  border: 2px solid white;
  border-radius: 25px;
  transform: translateY(-230px);
  margin-bottom: 100px;
}
div.background10 h1{
  color:black;
  display: flex;
  justify-content: center;
  font-size: 80px;
}
div.transbox10 {
  margin-right: 80px;
  margin-top: -160px;
  margin-left: 60px;
  margin-bottom: -200px;
  background-color: white;
  border: 1px solid white;
  opacity: 0.9;
  height: 400px;
}
div.transbox10 h3{
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
  font-family: sans-serif;
  color: black;
margin-left: 420px;
margin-bottom: 40px;
}
div.transbox10 h4{
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
  font-family: sans-serif;
  color: black;
margin-left: 20px;
margin-bottom: 15px;

}
/* projects */
div.transbox10 ul {
  list-style-image: url('https://res.cloudinary.com/dhtxiw89g/image/upload/v1594714295/Screenshot_85.png' );
  color: black;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 15px; 
}
div.transbox10 p{
  font-weight: bold;
  font-size: 12px;
  font-family: sans-serif;
  color: black;
margin-left: 60px;
}
div.transbox10 #pre1{
  font-weight: bold;
  font-size: 12px;
  font-family: sans-serif;
  color: black;
  border: 1px solid whitesmoke;
  background: whitesmoke;
  border-radius: 10px;
  width: 80px;
  margin-top: 40px;
  padding-top: 10px;
  padding-left: 40px;
  padding-bottom: 10px;
margin-left: 40px;
}

div.transbox10 #prev{
width: 2px;
height: 2px;
margin-left:100px ;
transform: translateY(-1000px);
}
div.transbox10 #next{
width: 2px;
height: 20px;
}
div.transbox10a{
  margin-right: 20px;
  margin-top: 15px;
  margin-left: 700px;
  margin-bottom: -200px;
  transform: translateY(-240px);
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  /* opacity: 0.9; */
  height: 200px;
  width: 280px;
  border-radius: 15px;
}
div.transbox10b{
  margin-right: 20px;
  margin-top: 15px;
  margin-left: 760px;
  margin-bottom: -200px;
  transform: translateY(-200px);
  background-color: white;
  border: 1px solid white;
  /* opacity: 0.9; */
  height: 240px;
  width: 160px;
  border-radius: 15px;
}
@media(max-width:600px){
  div.background10 h1{
    font-size: 40px;
  }
  div.transbox10 h3{
    font-size: 16px;
    margin-left: 160px;
    margin-top: 95px;
  }
  div.transbox10a{
    display: none;
  }
  div.transbox10b{
    display:none;
  }
}
@media(min-width:600px){
  div.background10 h1{
    font-size: 40px;
  }
  div.transbox10 h3{
    font-size: 16px;
    margin-left: 170px;
    margin-top: 100px;
  }
  div.transbox10a{
    display: none;
  }
  div.transbox10b{
    display:none;
  }
}
@media(min-width:768px){
  div.background10 h1{
    font-size: 60px;
  }
  div.transbox10 h3{
    font-size: 18px;
    margin-left: 260px;
    margin-top: 70px;
  }
  div.transbox10a{
    margin-right: 20px;
  margin-top: 15px;
  margin-left: 700px;
  margin-bottom: -200px;
  transform: translateY(-240px);
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  /* opacity: 0.9; */
  height: 200px;
  width: 280px;
  border-radius: 15px;
  }
  div.transbox10b{
    margin-right: 20px;
  margin-top: 15px;
  margin-left: 760px;
  margin-bottom: -200px;
  transform: translateY(-200px);
  background-color: white;
  border: 1px solid white;
  /* opacity: 0.9; */
  height: 240px;
  width: 160px;
  border-radius: 15px;
  }
}
@media(min-width:992px){
  div.transbox10 ul {
    list-style-image: url('https://res.cloudinary.com/dhtxiw89g/image/upload/v1594714295/Screenshot_85.png' );
    color: black;
    font-size: 11px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 15px; 
  }
  div.transbox10 p{
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
    color: black;
  margin-left: 60px;
  }
  div.transbox10 #pre1{
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
    color: black;
    border: 1px solid whitesmoke;
    background: whitesmoke;
    border-radius: 10px;
    width: 80px;
    margin-top: 40px;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 10px;
  margin-left: 40px;
  }
  
  div.transbox10 #prev{
  width: 2px;
  height: 2px;
  margin-left:100px ;
  transform: translateY(-1000px);
  }
  div.transbox10 #next{
  width: 2px;
  height: 20px;
  }
  div.transbox10a{
    margin-right: 20px;
    margin-top: 15px;
    margin-left: 700px;
    margin-bottom: -200px;
    transform: translateY(-240px);
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    /* opacity: 0.9; */
    height: 200px;
    width: 280px;
    border-radius: 15px;
  }
  div.transbox10b{
    margin-right: 20px;
    margin-top: 15px;
    margin-left: 760px;
    margin-bottom: -200px;
    transform: translateY(-200px);
    background-color: white;
    border: 1px solid white;
    /* opacity: 0.9; */
    height: 240px;
    width: 160px;
    border-radius: 15px;
  } 
}
@media(min-width:1200px){
  div.transbox10 ul {
    list-style-image: url('https://res.cloudinary.com/dhtxiw89g/image/upload/v1594714295/Screenshot_85.png' );
    color: black;
    font-size: 11px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 15px; 
  }
  div.transbox10 p{
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
    color: black;
  margin-left: 60px;
  }
  div.transbox10 #pre1{
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
    color: black;
    border: 1px solid whitesmoke;
    background: whitesmoke;
    border-radius: 10px;
    width: 80px;
    margin-top: 40px;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 10px;
  margin-left: 40px;
  }
  
  div.transbox10 #prev{
  width: 2px;
  height: 2px;
  margin-left:100px ;
  transform: translateY(-1000px);
  }
  div.transbox10 #next{
  width: 2px;
  height: 20px;
  }
  div.transbox10a{
    margin-right: 20px;
    margin-top: 15px;
    margin-left: 700px;
    margin-bottom: -200px;
    transform: translateY(-240px);
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    /* opacity: 0.9; */
    height: 200px;
    width: 280px;
    border-radius: 15px;
  }
  div.transbox10b{
    margin-right: 20px;
    margin-top: 15px;
    margin-left: 760px;
    margin-bottom: -200px;
    transform: translateY(-200px);
    background-color: white;
    border: 1px solid white;
    /* opacity: 0.9; */
    height: 240px;
    width: 160px;
    border-radius: 15px;
  }
  
}


/* schedule */
div.background11 {
  /* background: url(https://res.cloudinary.com/dhtxiw89g/image/upload/v1594760685/Screenshot_97.png);
  background-repeat: no-repeat;
  background-size: cover; */
  background: whitesmoke;
  width: 100%;
  height:400px;
  border: 2px solid whitesmoke;
  border-radius: 25px;
  transform: translateY(-1px);
  margin-bottom: 100px;
}
div.background11 h1{
  color:black;
  display: flex;
  justify-content: center;
  font-size: 80px;
}
div.transbox11 {
  margin-right: 80px;
  margin-top: -150px;
  margin-left: 60px;
  margin-bottom: -200px;
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  opacity: 0.9;
  height: 350px;
}
div.transbox11 h3{
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
  font-family: sans-serif;
  color: black;
  display: flex;
  justify-content: center;
margin-bottom: 40px;
}
div.transbox11 pre{
  font-weight: bold;
  
  font-size: 16px;
  font-family: sans-serif;
  color: black;
margin-left: 160px;
}
div.transbox11 #pre2{
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid white;
  background: white;
  width: 280px;
  height: 40px;
  font-size: 26px;
  font-family: sans-serif;
  color: black;
margin-left: 100px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 30px;
padding-right: 10px;
}
div.transbox11 #pre3{
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid white;
  background: white;
  width: 280px;
  height: 40px;
  font-size: 26px;
  font-family: sans-serif;
  color: black;
margin-left: 500px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 30px;
padding-right: 10px;
transform: translateY(-90px);
}
div.transbox11 #p1{
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid white;
  background: black;
  width: 30px;
  height: 30px;
  font-size: 26px;
  font-family: sans-serif;
  color: white;
margin-left: 250px;
padding-right: 5px;
padding-left: 5px;
padding-top: 5px;
padding-bottom: 5px;
transform: translateY(-90px);
}
div.transbox11 #p2{
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
  color: black;
margin-left: 320px;
transform: translateY(-150px);
}
div.transbox11 button{
  background: rgb(245, 76, 15);
  margin-left: 65px;
  padding-left: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 40px;
  border-radius: 10px;
  border: 1px solid rgb(245, 76, 15);
  color: white;
  margin-left: 530px;
transform: translateY(-200px);
}

 #pre4{
  color: black;
  font-size: 15px;
   transform: translateY(50px); 
   margin-left: 170px;
}
#pre5{
  transform: translateX(280px); 
  margin-left: 220px;
}
#pre6{
  color: black;
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
   transform: translateY(-60px); 
   margin-left: 780px;
}
