body{
    color: white;
    font-family: sans-serif;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
    @media (min-width: 576px) {
      .container {
        max-width: 540px; } }
    @media (min-width: 768px) {
      .container {
        max-width: 720px; } }
    @media (min-width: 992px) {
      .container {
        max-width: 960px; } }
    @media (min-width: 1200px) {
      .container {
        max-width: 1140px; } }
 
.header-container{
    background-color: black;
    height: 500px;
    width: 100%;
}
.nav-container{
    /* background: red; */
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    width: 10%;
}
.nav-menu{
     display: flex; 
    /* background: green; */
    width: 90%;
    justify-content: space-between;
}

@media(max-width:650px){
.nav-menu{
    display: none;
    width: 60%;
}
}
@media(min-width:651px){
.hamburger{
    display: none;
} 
}
.hamburger{
    background: white;
    height: 3px;
    width: 30px; 
    position: relative;
}
.hamburger::before, .hamburger::after{
   content: ""; 
   background: white;
   position: absolute;
   width: 30px;
   height: 3px; 
   cursor: pointer;   
}
.hamburger::before{
    top:10px;
    left: 0;
    width: 100%;
}
.hamburger::after{
    bottom: 10px;
    left: 0;

}

.btn{
    padding-left: 30px;
}

div.background {
    background: url(https://res.cloudinary.com/dhtxiw89g/image/upload/v1594540563/Screenshot_51.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:500px;
    border: 2px solid black;
    border-radius: 25px;
    transform: translateY(-1px);
    margin-bottom: 100px;
  }
  
  div.transbox {
    margin: 80px;
    margin-left: 60px;
    background-color: #ffffff;
    border: 1px solid white;
    opacity: 0.9;
  }
  
  div.transbox h3 {
    margin-top: 1px;
    margin-left: 6.5%;
    font-weight: bold;
    color: #000000;
    font-size: 40px;
    font-family: sans-serif;   
  }
  div.transbox h4 { 
      margin-top: -30px;
    margin-left: 6.5%;
    font-weight: bold;
    color:gray;
    font-size: 30px;
    font-family: sans-serif;
    padding-bottom: 50px;
  }
  div.transbox p { 
     margin-top: 20px;
    margin-left: 6.5%;
    font-weight: bold;
    color:black;
    font-size: 14px;
    font-family: sans-serif;
  }
  div.transbox button { 
     margin-top: 40px;
    margin-left: 6.5%;
    font-weight: bold;
    color:white;
    background: rgb(245, 76, 15);
    border-radius: 10px;
    padding-left: 70px;
    padding-Right: 70px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 15px;
    font-family: sans-serif;
    border: 1px solid white;
  }
  div.transbox img { 
    margin-top: -500px;
  margin-left: 30.5%;
 
}
@media(max-width:600px){
.transbox img{
    display: none;
    width: 10%;
    
}
}

.box{
    /* margin-top: 10px; */
    background: ghostwhite;
    height: 850px;
    width: 100%;
   
 } 

 .box1{
    /* margin-top: 10px; */
    background: white;
    height: 450px;
    width: 100%;
   
 } 

 div.background2 {
    background: url(https://res.cloudinary.com/dhtxiw89g/image/upload/v1594561794/Screenshot_58.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:300px;
    border: 2px solid black;
    border-radius: 25px;
    transform: translateY(250px);
    margin-bottom: 100px;
  }
  div.transbox2 {
    margin-right: 80px;
    margin-top: 80px;
    margin-left: 60px;
    margin-bottom: -200px;
    background-color: #ffffff;
    border: 1px solid white;
    opacity: 0.9;
    height: 200px;
  }
  
  div.transbox2 img{
      width: 300px;
      height:180px;
      margin-left: 15px;
      transform: translateY(-380px);
  }
  div.transbox2 h3{
    font-weight: bold;
    font-size: 20px;
    margin-top: 26px;
    font-family: sans-serif;
    color: black;
  margin-left: 780px;
  margin-bottom: 40px;
  }

  div.transbox2 p{
    margin-top: 15px;
    margin-left: 5%;
    font-weight: bold;
    color:black;
    font-size: 14px;
    font-family: sans-serif;
  }
  div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594577018/facebook-square-brands-1.png"]{
    width: 25px;
    height:20px;
    margin-left: 605px; 
    transform: translateY(-370px);
    padding-bottom: 5px;
}
  div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594577062/twitter-brands-1.png" ]{
    width: 25px;
    height:20px;
    margin-left: 925px; 
    transform: translateY(-370px);
    padding-bottom: 5px;
}
  div.transbox2 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594578667/instagram-brands_-1.png" ]{
    width: 25px;
    height:20px;
    margin-left: 925px; 
    transform: translateY(-370px);
}


div.background3 {
    background: url(https://res.cloudinary.com/dhtxiw89g/image/upload/v1594581374/Screenshot_60.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:400px;
    border: 2px solid black;
    border-radius: 25px;
    transform: translateY(250px);
    margin-bottom: 100px;
  }

  div.transbox3 {
    margin-right: 80px;
    margin-top: 60px;
    margin-left: 60px;
    margin-bottom: -200px;
    background-color: #ffffff;
    border: 1px solid white;
    opacity: 0.9;
    height: 200px;
  }

  div.transbox3 h3{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    font-family: sans-serif;
    color: black;
  margin-left: 430px;
  margin-bottom: 40px;
  }

  div.transbox3 table{
    width: 70%;
    border-collapse: separate;
    border-spacing: 0;
    margin-left: 140px;
    margin-bottom: 45px;
  }

  div.transbox3 th,td{
      text-align: center;
      border: 0.1px solid black;
      padding: 7px;
  }
  th:first-of-type {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: black;
    
  }
  th:nth-of-type(even) {
    color: black;
    padding-left: -2px;
  }
  th:last-of-type {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:black;
    color: white;
   
  }
  td:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
  }
  td:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
  }

  div.transbox3 p{
      color: black;
      font-size: 12px;
      font-weight: bold;
     transform: translateX(375px);
  }
  div.transbox3 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594582055/Group_467_2x.png"]{
      width: 150px;
      height: 150px;
      transform: translateY(-160px);
      margin-left: 100px;
  }
  div.transbox3 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594626605/asset-2.png"]{
      width: 8px;
      height: 8px;
      transform: translateY(-160px);
  }
  div.transbox3 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594626638/Path_501.png"]{
      width: 20px;
      height: 20px;
      transform: translateY(-160px);
      margin-left: -200px;
  }
  div.transbox3 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594628012/asset-2_2x.png"]{
      width: 8px;
      height: 8px;
      transform: translateY(-260px);
      margin-left: 30px;
  }
  div.transbox3 img[src="https://res.cloudinary.com/dhtxiw89g/image/upload/v1594628722/Path_501_2x.png"]{
      width: 20px;
      height: 20px;
      position: absolute;
      transform: rotate(90deg);
      transform-origin: 280% -380% 0;
      margin-left: 100px;
  }


  div.background4 {
    background: url(https://res.cloudinary.com/dhtxiw89g/image/upload/v1594581374/Screenshot_60.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:400px;
    border: 2px solid black;
    border-radius: 25px;
    transform: translateY(250px);
    margin-bottom: 100px;
  }
  

